@import url(http://fonts.googleapis.com/css?family=Inika);
@import url(http://fonts.googleapis.com/css?family=Lato:100);

body {
  background-image: url(../img/ch.png) !important;
  font-family: 'Inika', sans-serif !important;
}

p {
  margin: 0 !important;
}

.machine {
  width: 100%;
  margin-top: 50px;
  padding-left: 50px;
}

.slots {
  margin-top: 6%;
  padding-top: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 2em;
  overflow:hidden;
  height: 80px;
  width: 20%;
  /* border-radius: 40px; */
  border: 2px solid rgba(255,255,255,0.3);
  border-left: none;
  color: white;
  text-shadow: 1px 1px 10px #000;
  display: inline-block;
  float: left;
}

#slots_a {
  border-left: 2px solid rgba(255,255,255,0.3);
}

.slots .wrapper{
  margin-top:-6px;
}

.slots .slot{
  height:100px;
  text-align:center;
}

.imagen {
  margin-bottom: 40px;
  margin-top: 10px;
  width: 100%;
}

.jumbotron{
  background-color: #d9534f !important;
  padding-top: 10px !important;
  padding-bottom: 20px !important;
  color: white !important;
  border-bottom: 1px solid #d43f3a;
  box-shadow: 1px 1px 10px #333;
}

.jumbotron h1 {
  font-weight: 100;
}

.lever {
  margin-top: 15px;
}

.btn{
  font-size: 1.9em !important;
  font-weight: 100 !important;
}

#twtrButton{
  margin-top: 10px;
  padding-left: 46%;
}

#texto {
  background-color: rgba(255,255,255, 0.9) !important;
  color: #d9534f !important;
  border: none;
  margin: 100px 0 0 0;
  width: 100%;
  bottom: 0;
}

#texto p {
  padding: 50px 0;
}

@media (max-width: 1299px) {
  .slots {
    font-size: 1.6em;
  
    padding-top: 28px;
}
  .jumbotron h1{
    font-size: 3em !important;
  }


  #twtrButton {
    padding-left: 44%;
  }
  .btn{
    font-size: 1.5em !important;
  }
}

@media (max-width: 991px ) {
  .slots {
    font-size: 1.3em;
}

  .jumbotron h1{
    font-size: 2.8em !important;
  }

  #twtrButton {
    padding-left: 48%;
  }

  .btn{
    font-size: 1.5em !important;
  }
}

@media(max-width: 793px) {
  .slots{
    border: none;
    font-size: 1.5em;
    width: 100%;
    display: block;
    height: 50px;
    margin: 0;
    text-shadow: 1px 1px 5px #333;
}
  #twtrButton {
    padding-left: 40%;
  }
  .jumbotron h1{
    font-size: 2em !important;
  
}


}

@media(max-width: 400px){
  .jumbotron h1{
    font-size: 1.5em !important;
  }

  #twtrButton {
    padding-left: 33%;
  }
}