.machine {
  width: 100%;
  margin-top: 50px;
  padding-left: 50px;
}

.slots {
  padding-top: 10px;
  font-size:1.5em;
  overflow:hidden;
  height:50px;
  width: 119%;
  border:1px solid black;
}

.slots .wrapper{
  margin-top:-6px;
}

.slots .slot{
  height:100px;
  text-align:center;
}

.imagen {
  margin-bottom: 40px;
  margin-top: 10px;
  width: 100%;
}

.jumbotron{
  background-color: #0e74d7 !important;
  padding-top: 10px !important;
  padding-bottom: 20px !important;
  color: white !important;
}

.lever {
  margin-top: 15px;
}

.btn{
  font-size: 1.9em !important;
}

#twtrButton{
  margin-top: 10px;
  padding-left: 46%;
}


@media (max-width: 1199px) {
  .slots {
    width: 123%;
    font-size: 1.3em;
  }

  #twtrButton {
    padding-left: 44%;
  }
  .btn{
    font-size: 1.5em !important;
  }
}

@media (max-width: 991px ) {
  .slots {
    width: 133%;
    padding-top: 20px;
    font-size: 1.1em;
    height:57px;
  }

  .jumbotron h1{
    font-size: 55px !important;
  }

  #twtrButton {
    padding-left: 48%;
  }

  .btn{
    font-size: 1.5em !important;
  }
}

@media(max-width: 767px) {
  .slots{
    width: 100%;
    font-size: 1.5em;
  }
  #twtrButton {
    padding-left: 40%;
  }
}

@media(max-width: 400px){
  .jumbotron h1{
    font-size: 40px !important;
  }

  #twtrButton {
    padding-left: 33%;
  }
}